$white: hsl(0, 0%, 100%);
$dark-color: hsl(320,3.7%,15.88%);

$light-gray: hsl(213, 42%, 85%);
$dark-gray: hsl(211, 11%, 59%);

$error-color: hsl(5, 77%, 47%);
$danger-color: hsl(58, 97%, 56%);
$succsess-color: hsl(138, 71%, 49%);

$main-bg-color: hsl(246.74, 41.01%, 57.45%);
$seconday-bg-color: hsl(0, 0%, 98.43%);
