$main-color: hsl(26, 30%, 50%);
$main-dark: hsl(30, 29%, 35%);
$secondary-color: hsl(106, 30%, 50%);
$secondary-dark: hsl(106, 29%, 35%);
$helper-color: hsl(265, 30%, 50%);
$dark-color: hsl(225, 29%, 25%);
$light-dark: hsl(225, 29%, 35%);
$light-color: hsl(37, 100%, 94%);
$white: hsl(0, 0%, 100%);
